.twoarrow {
    display: flex;
}


.leftcenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    
}

.rightcenter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    
}