.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 50vh;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: lightyellow;
  }